<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   <h1>Login Page</h1>
   <% if(locals.error) { %>
     <%= error %>
   <% } %>
   <form action="/user/login" method="post">
    <label for="email">Email</label>
    <input id="email" type="text" name="email" />

    <label for="password">Password</label>
    <input id="password" type="text" name="password"/>

    <button type="submit">Login</button>
   </form> 
</body>
</html>